@model Gateway.Models.Event

@{
    ViewBag.Title = "Delete";
}

<h2>Slet Event</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Titel")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.Label("Beskrivelse")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

        <dt>
            @Html.Label("Dato")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfEvent)
        </dd>

    </dl>

    @using (Html.BeginForm("Delete", "Events", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Tilbage til oversigt", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
