@model Gateway.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Slet Ordre</h2>
<hr />
<div>
    @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(x => x.Id)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateOfPurchase)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfPurchase)
            </dd>
            <dt>
                @Html.Label("Gavekort")
            </dt>
            @foreach (var item in Model.GiftCards)
            {
                <dd>
                    @Html.DisplayFor(model => model.GiftCards)
                </dd>
            }
        </dl>
        <div class="form-actions no-color">
            @Html.ActionLink("Tilbage til oversigt", "Index", null, new { @class = "btn btn-default" })
            <input type="submit" value="Slet" class="btn btn-default" />
        </div>
    }
</div>





