@model IEnumerable<Gateway.Models.Order>


<h2>Ikke-Accepterede ordrer</h2>
<table class="table not_completed_orders_table" style="table-layout: fixed">
    <thead class="table_head">
        <tr>
            <th>Ordre Id</th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPurchase)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Where(x => x.IsCompleted == false))
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfPurchase)
                </td>
                <td>
                    @Html.ActionLink("Detaljer | ", "OrderDetails", new { id = item.Id })
                    @Html.ActionLink("Slet", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Accepterede ordrer</h2>
<table class="table completed_orders_table" style="table-layout: fixed">
    <thead class="table_head">
        <tr>
            <th>Ordre Id</th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPurchase)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Where(x => x.IsCompleted == true))
        {
            <tr>
                <td>@item.Id</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfPurchase)
                </td>
                <td>
                    @Html.ActionLink("Detaljer", "OrderDetails", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

